<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ict.ex.PetMapper.PBoardMapper">

	<select id="getnoticeList" resultMap="PetBoardsCategoriesMap"> <!-- 리스트 -->
	<![CDATA[
SELECT 
    PET_BOARD_CATEGORIES.CATE_NO,  
    PET_BOARD_CATEGORIES.CATE_NAME, 
    PET_BOARDS.BNUM, 
    PET_BOARDS.BTITLE, 
    PET_BOARDS.BCONTENT, 
    PET_BOARDS.BHIT, 
    PET_BOARDS.BDATE,
    PET_BOARDS.USERID,
    PET_BOARDS.BINDENT,
    PET_BOARDS.BSTEP,
    PET_BOARDS.BGROUP,
    CASE 
        WHEN PET_BOARDS.BINDENT > 0 THEN '답글' 
        ELSE '원글' 
    END AS POST_TYPE
FROM 
    PET_BOARD_CATEGORIES
LEFT JOIN 
    PET_BOARDS ON PET_BOARD_CATEGORIES.CATE_NO = PET_BOARDS.CATE_NO
WHERE 
    PET_BOARD_CATEGORIES.CATE_NO = #{cate_no}
ORDER BY 
    PET_BOARDS.BGROUP,   
    PET_BOARDS.BSTEP ASC, 
    PET_BOARDS.BINDENT ASC

   ]]>

	</select>

	<resultMap id="PetBoardsCategoriesMap" type="edu.ict.ex.vo.PetBoardsCategoriesJoinVO">
		<association property="petboards" resultMap="pBoardMap"></association>
		<association property="categories" resultMap="categorieMap"></association>
	</resultMap>

	<resultMap id="pBoardMap" type="edu.ict.ex.vo.PetBoardsVO">
		<result property="bnum" column="bnum" />
		<result property="btitle" column="btitle" />
		<result property="bcontent" column="bcontent" />
		<result property="bhit" column="bhit" />
		<result property="bstep" column="bstep" />
		<result property="bindent" column="bindent" />
		<result property="bgroup" column="bgroup" />
		<result property="bdate" column="bdate" />
		<result property="userid" column="userid" />
		<result property="cate_no" column="cate_no" />
	</resultMap>

	<resultMap id="categorieMap" type="edu.ict.ex.vo.PetBoardCategoriesVO">
		<result property="cate_no" column="cate_no" />
		<result property="cate_name" column="cate_name" />
	</resultMap>
	
	<select id="getFindById" resultMap="pBoardMap">
		SELECT * FROM PET_BOARDS where BNUM = #{bnum}
	</select>
	 <update id="modify">
		<![CDATA[ UPDATE PET_BOARDS SET btitle = #{btitle}, bcontent = #{bcontent} WHERE bnum = #{bnum} ]]> 
	</update>
    <insert id="insert">
	    <![CDATA[ 
	    INSERT INTO PET_BOARDS (bnum, btitle, bcontent, bhit, bstep, bindent, bgroup, bdate, userid, cate_no) 
	    VALUES (bnum_seq.NEXTVAL, #{btitle}, #{bcontent}, 0, 0, 0, bnum_seq.CURRVAL, SYSDATE, #{userid}, #{cate_no} )
	    ]]>
	</insert>
	
	<delete id="remove"> 
	<![CDATA[ 
		delete from PET_BOARDS where bnum = #{bnum}
	]]> 
	</delete> 
	
	<update id="updateHit">
      UPDATE PET_BOARDS SET BHIT = BHIT + 1 WHERE bnum = #{bnum}
	</update>
	
   <update id="updateShape">
	    <![CDATA[
	              update PET_BOARDS set bstep = bstep+1 where bgroup = #{bgroup} and bstep > #{bstep}     
	    ]]>
    </update> 

     <insert id="insertReply">
	    <![CDATA[
	    INSERT INTO PET_BOARDS (bnum, btitle, bcontent, bhit, bstep, bindent, bgroup, bdate, userid, cate_no) 
	    VALUES (bnum_seq.NEXTVAL, #{btitle}, #{bcontent}, 0, #{bstep}+1, #{bindent} + 1, #{bgroup}  , SYSDATE, #{userid}, 2 )
	    ]]>
</insert>
</mapper>