<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ict.ex.PetMapper.PBoardMapper">

	<select id="getnoticeList" resultMap="PetBoardsCategoriesMap"> <!-- 리스트 -->
	<![CDATA[
SELECT 
    PET_BOARD_CATEGORIES.CATE_NO,  
    PET_BOARD_CATEGORIES.CATE_NAME, 
    PET_BOARDS.BNUM, 
    PET_BOARDS.BTITLE, 
    PET_BOARDS.BCONTENT, 
    PET_BOARDS.BHIT, 
    PET_BOARDS.BDATE,
    PET_BOARDS.PET_USER_ID
FROM 
    PET_BOARD_CATEGORIES
LEFT JOIN 
    PET_BOARDS ON PET_BOARD_CATEGORIES.CATE_NO = PET_BOARDS.CATE_NO
WHERE 
    PET_BOARD_CATEGORIES.CATE_NO = #{cate_no}
ORDER BY 
    PET_BOARDS.BNUM DESC

	]]>
	</select>

	<resultMap id="PetBoardsCategoriesMap" type="edu.ict.ex.vo.PetBoardsCategoriesJoinVO">
		<association property="petboards" resultMap="pBoardMap"></association>
		<association property="categories" resultMap="categorieMap"></association>
	</resultMap>

	<resultMap id="pBoardMap" type="edu.ict.ex.vo.PetBoardsVO">
		<result property="bnum" column="bnum" />
		<result property="btitle" column="btitle" />
		<result property="bcontent" column="bcontent" />
		<result property="bhit" column="bhit" />
		<result property="bstep" column="bstep" />
		<result property="bindent" column="bindent" />
		<result property="bgroup" column="bgroup" />
		<result property="bdate" column="bdate" />
		<result property="pet_user_id" column="pet_user_id" />
		<result property="cate_no" column="cate_no" />
	</resultMap>

	<resultMap id="categorieMap" type="edu.ict.ex.vo.PetBoardCategoriesVO">
		<result property="cate_no" column="cate_no" />
		<result property="cate_name" column="cate_name" />
	</resultMap>
	
	<select id="getFindById" resultMap="pBoardMap">
		SELECT * FROM PET_BOARDS where BNUM = #{bnum}
	</select>
	 <update id="modify">
		<![CDATA[ UPDATE PET_BOARDS SET btitle = #{btitle}, bcontent = #{bcontent} WHERE bnum = #{bnum} ]]> 
	</update>
	 <insert id="insert">
	 <![CDATA[ INSERT INTO PET_BOARDS (bnum, btitle, bcontent, bhit, bstep, bindent, bgroup, bdate, pet_user_id, cate_no) 
VALUES (bnum_seq.NEXTVAL,#{btitle},#{bcontent},10, 0, 0, 1, SYSDATE, #{pet_user_id}, #{cate_no} )
		]]> 
	</insert>
	
	<delete id="remove"> 
	<![CDATA[ 
		delete from PET_BOARDS where bnum = #{bnum}
	]]> 
	</delete> 
</mapper>