<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.ict.ex.mapper.UserMapper">

	<resultMap id="authMap" type="AuthVO">
		<result property="userid" column="userid"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<resultMap id="userMap" type="UserVO">
		<result property="userid" column="userid"/>
		<result property="password" column="password"/>
		<result property="uname" column="uname"/>
		<result property="utel" column="utel"/>
		<result property="zipcode" column="zipcode"/>
		<result property="uadr" column="uadr"/>
		<result property="uadrdetail" column="uadrdetail"/>
		<result property="uemail" column="uemail"/>
		<result property="enabled" column="enabled"/>
		<association property="authList" resultMap="authMap"></association>
	</resultMap>
	
	<select id="getUser" resultMap="userMap">
       <![CDATA[
          select * from users, authorities 
          where users.userid = authorities.userid 
          and users.userid  = #{userid}
        ]]>
	</select>
	
</mapper>